headerbar {
  min-height: 24px;
  padding: 0;
  margin: 0;
}

tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 10px;
  background-color: #1a1a1a;
  font-family: monospace;
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
  color: #665c54;  /* gruvbox light fg3 */
  border-right: 1px solid #d5c4a1;  /* gruvbox light bg2 */
}

tabbar tabbox tab:selected {
  background-color: #fabd2f;  /* gruvbox light yellow */
  color: #3c3836;  /* gruvbox light fg0 */

}

tabbar tabbox tab label {
  font-size: 13px;
}
